:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, #141414, #0a0a0a);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  box-sizing: border-box;
  overflow-y: auto;
  position: fixed;
  inset: 0;
  padding: 2rem 1rem;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.form-container {
  background: #1c1c1c;
  padding: 3rem 2.5rem;
  border-radius: 0.75rem;
  width: 100%;
  max-width: 26.25rem; // 420px
  box-shadow: 0 0 1.5rem rgba(255, 215, 0, 0.15);
  border: 1px solid #ffd70020;
  animation: fadeIn 0.4s ease-in-out;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: #ffd700;
  text-shadow: 0 0 0.5rem rgba(255, 215, 0, 0.4);
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #ccc;
  font-size: 0.95rem;
}

input {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  border: 1px solid #333;
  background: #262626;
  color: #fff;
  font-size: 1rem;
  transition: border-color 0.2s;
 
}
input.inputText {
  width: 92%;
}

input:focus {
  outline: none;
  border-color: #ffd700;
}

.checkbox-label {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: #aaa;
  margin-bottom: 1.2rem;
}

.checkbox-label input {
  margin-right: 0.5rem;
  margin-top: 1.2rem;
}

button {
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1rem;
  background: linear-gradient(to right, #ffd700, #ff8c00);
  border: none;
  border-radius: 0.375rem;
  color: #111;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
  transform: scale(1.02);
}

.alt-button {
  background: transparent;
  color: #ffd700;
  font-size: 0.9rem;
  border: none;
  text-decoration: underline;
  cursor: pointer;
}

small,
p {
  color: #f44336;
  font-size: 0.85rem;
  display: block;
  margin-bottom: 0.5rem;
  margin-top: -0.5rem;
}

/* Responsive en pantallas pequeñas */
@media (max-width: 37.5rem) { // 600px
  .form-container {
    padding: 2rem 1.5rem;
    max-width: 90vw;
  }

  h2 {
    font-size: 1.5rem;
  }

  input,
  button {
    font-size: 0.95rem;
    padding: 0.7rem;
  }
}
@media (max-height: 600px) {
  :host{
    overflow: hidden;
  }
  .form-container {
    padding: 2rem 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  input,
  button {
    font-size: 0.95rem;
    padding: 0.7rem;
  }
}
