<app-age-verification
  *ngIf="!mayorDeEdad"
  (accepted)="confirmarMayorDeEdad()">
</app-age-verification>

<app-header
  [nombre]="nombreVisual"
  [saldo]="saldo"
  (changeName)="onChangeName()"
  (changePassword)="onChangePassword()"
  (addSaldo)="onAddSaldo()"
  (logout)="onLogout()"
  (goHome)="jugar('/')">
</app-header>


<main class="main-content">
  <h2>Selecciona tu juego</h2>
  <div class="game-grid">
    <div class="game-card" *ngFor="let j of juegos">
      <div class="icono-juego">
        <span [ngSwitch]="j.nombre">
          <span *ngSwitchCase="'Tragaperras'">🎰</span>
          <span *ngSwitchCase="'Ruleta'">🎡</span>
          <span *ngSwitchCase="'Blackjack'">🃏</span>
          <span *ngSwitchDefault>🎮</span>
        </span>
      </div>
      <h3>{{ j.nombre }}</h3>
      <p>{{ j.descripcion }}</p>
      <button (click)="jugar(j.ruta)">Jugar</button>
    </div>
  </div>
</main>
<footer class="footer">
  © 2025 Casino Online - Todos los derechos reservados
</footer>

<!-- Tus modales -->
<app-modal
  *ngIf="mostrarModalNombre"
  title="Cambiar nombre"
  message="Introduce tu nuevo nombre:"
  acceptText="Guardar"
  cancelText="Cancelar"
  [isPrompt]="true"
  [errorMessage]="errorNombre"
  inputPlaceholder="Ej: JugadorX"
  (accepted)="onNombreModal($event)">
</app-modal>

<app-modal
  *ngIf="mostrarModalPassword && !esCuentaGoogle"
  title="Cambiar contraseña"
  message="Introduce tu nueva contraseña:"
  acceptText="Guardar"
  cancelText="Cancelar"
  [isPrompt]="true"
  [isPasswordField]="true"
  inputPlaceholder="********"
  [errorMessage]="errorPassword"
  (accepted)="onPasswordModal($event)">
</app-modal>

<app-modal
  *ngIf="esCuentaGoogle && mostrarModalPassword"
  title="Cambio de contraseña"
  message="No puedes cambiar la contraseña porque tu cuenta fue creada con Google."
  acceptText="Aceptar"
  (accepted)="mostrarModalPassword = false">
</app-modal>

<app-scratch-modal
  *ngIf="mostrarScratch"
  [cantidadGanada]="cantidadGanada"
  [rascado]="rascado"
  (cerrar)="onCerrarScratch()"
/>
